---
import Layout from './Layout.astro';
let headings: { depth: number; slug: string; text: string }[];
headings = Astro.props.headings;
---

<Layout currentPage='Documentation'>
	<div class='container'>
		<div class='sidebar'>
			<ul>
				{
					headings.map(heading => {
						// if (heading.depth !== 1) return;
						return (
							<li
								style={`margin-left: ${heading.depth / 2}em; list-style: ${
									heading.depth % 2 ? 'disc' : 'circle'
								}`}
							>
								<a href={'#' + heading.slug}>{heading.text}</a>
							</li>
						);
					})
				}
			</ul>
		</div>
		<main>
			<slot />
		</main>
	</div>
	<style lang='scss' slot='head' is:global>
		.container {
			display: flex;
			.sidebar {
				justify-self: center;
				background: var(--secondary-background-color);
				padding: 2%;
				margin-right: 1%;
				border-radius: 10px;
				min-height: 75vh;

				ul {
					li {
						margin-bottom: 1em;
						list-style-type: square;
					}
				}
			}
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin: 1.5% 0;
		}
	</style>
</Layout>
