---
import DiscordIcon from '../components/DiscordIcon.astro';
import GithubIcon from '../components/GithubIcon.astro';
import GlobalStyles from '../components/GlobalStyles.astro';
import ModrinthIcon from '../components/ModrinthIcon.astro';

interface Props {
	currentPage: string;
}

const { currentPage }: Props = Astro.props;
---

<html>
	<head>
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<link rel='icon' type='image/x-icon' href='/favicon.png' />
		<GlobalStyles />
		<slot name='head' />
		<title>{currentPage}</title>
	</head>
	<body>
		<header>
			<div class='title'>
				<img src='/favicon.png' />
				<h1 class='accent'>
					Redstone Tools{currentPage === 'Home' ? '' : ` - ${currentPage}`}
				</h1>
			</div>

			<nav>
				<ul class='internal'>
					<li><a href='/'>Home</a></li>
					<li><a href='/documentation'>Docs</a></li>
					<li>
						<a href='/download'>Download</a>
					</li>
					<li>
						<a href='https://modrinth.com/mod/redstone-tools' target='_blank'
							><ModrinthIcon /></a
						>
					</li>
					<li>
						<a href='https://discord.gg/nXWmrAsJQ8' target='_blank'
							><DiscordIcon /></a
						>
					</li>
					<li>
						<a
							href='https://github.com/redstonetools/redstonetools-mod'
							target='_blank'><GithubIcon /></a
						>
					</li>
				</ul>
			</nav>
		</header>
		<slot />
	</body>
</html>
